.dashboard {
  display: flex;
  flex-direction: column;
}
.greeting {
  font-size: 11vw;
  color: #263238;
  text-align: center;
}
.birthday {
  margin: 0;
}
@media (max-width: 768px) {
  .greeting {
    font-size: 10vh;
  }
}
