.section-class {
  height: 80vh;
  background-color: #ffffff00;
  padding: 10vh 10vw;
  z-index: 2;
}
.img {
  height: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .img {
    box-sizing: border-box;
    max-width: 100%;
  }
  h1 {
    margin-top: 0;
  }
  .section-class {
    height: auto;
    padding: 2.5vh 5vw;
  }
}
